spring:
    data:
        redis:
            # 选择数据库（0-15）
            database: 0
            # 主机地址
            host: 127.0.0.1
            # 端口号
            port: 6379
            # 密码（如果有设置）
            # password: 123456
            # 命令超时时间
            timeout: 2000
            # 连接超时时间
            connect-timeout: 2000
