spring:
    rabbitmq:
        addresses: 127.0.0.1
        port: 5672
        username: guest
        password: guest
        virtual-host: /
        connection-timeout: 5000
        listener:
            simple:
                concurrency: 1
                max-concurrency: 5
                prefetch: 1
                acknowledge-mode: auto
                retry:
                    enabled: true
                    max-attempts: 3
                    initial-interval: 2000ms