spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3307/java211?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
        username: root
        password: root
        hikari:
            # 最小空闲连接数
            minimum-idle: 20
            # 最大连接数
            maximum-pool-size: 200
            # 极限空闲时长（超出后将大于最小空闲连接数量的连接关掉）
            idle-timeout: 600000
            # 超时时长（超出后还没从池子里拿到连接就报错）
            connection-timeout: 5000
            # 检查连接是否有效
            connection-test-query: select 1
    data:
        redis:
            # 选择数据库（0-15）
            database: 0
            # 主机地址
            host: 127.0.0.1
            # 端口号
            port: 6379
            # 密码（如果有设置）
            # password: 123456
            # 命令超时时间
            timeout: 2000
            # 连接超时时间
            connect-timeout: 2000
            lettuce:
                pool:
                    max-active: 5000   # 根据并发调
                    max-wait: 5000
                    max-idle: 500
                    min-idle: 50
    cache:
        type: caffeine
        cache-names: soldOutCache
        caffeine:
            spec: initialCapacity=50,maximumSize=10000,expireAfterWrite=10s
server:
    # 理应是最大线程数 * 等待长度就是瞬时成承受并发极限
    tomcat:
        # 最大线程数，默认 200，压测可以调大
        threads:
            max: 3000
            min-spare: 100
        # 最大连接数，默认 8192
        max-connections: 20000
        # 等待队列长度，默认 100，超过直接拒绝
        accept-count: 10000
    # 服务端口
    port: 8080
mybatis:
    # 扫描的包实体
    type-aliases-package: com.example.ch12.entity
    # mapper映射路径
    mapper-locations: classpath:/mappers/*.xml
    configuration:
        # 输出日志
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl